{% extends 'habits/base.html' %}

{% block content %} 
<h2>{{ title }}</h2>
<form action="" method="post" id="reminder-form">
    {% csrf_token %}
    <div class="form_error">{{ form.non_field_errors }}</div>
    {% for f in form %}
        <p><label class="form_label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
        <div class="form_error">{{ f.errors }}</div>
    {% endfor %}
    <input type="hidden" name="timezone" id="timezone">
    <p><button type="submit">Сохранить</button></p>
</form>

<script>
    document.getElementById('timezone').value = Intl.DateTimeFormat().resolvedOptions().timeZone;
</script>


{% endblock %}